# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/FGearWeb/nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

FGearWeb/src/java/utils/DbUtils.java
FGearWeb/src/java/utils/DbUtils.java

# Thư mục chứa cấu hình cá nhân của từng máy (bắt buộc ignore)
nbproject/private/

# Các thư mục chứa file đã biên dịch và file chạy (không bao giờ đẩy code đã build lên Git)
build/
nbbuild/
dist/
nbdist/

# Các file Ant build tự sinh (thường gây cảnh báo và xung đột khi làm việc nhóm)
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/Makefile-*.mk
nbproject/Package-*.bash